.photo-filters.js-photo-filters
  
  .photo-filters__title= t('dreams.new.improve_photo')
  
  .photo-filters__wrap
    
    .photo-filters__row

      .photo-filters__cell
        .photo-filter.js-photo-filter{title: "retro", data: {effect: "retro"}}
      .photo-filters__cell
        .photo-filter.js-photo-filter{title: "sepia", data: {effect: "sepia"}}
      .photo-filters__cell
        .photo-filter.js-photo-filter{title: "tilt shift", data: {effect: "tilt_shift"}}

    .photo-filters__row

      .photo-filters__cell
        .photo-filter.js-photo-filter{title: "watercolor", data: {effect: "watercolor"}}
      .photo-filters__cell
        .photo-filter.js-photo-filter{title: "saturation", data: {effect: "saturation"}}
      .photo-filters__cell
        .photo-filter.js-photo-filter{title: "Zoom blur", data: {effect: "zoom_blur"}}

    .photo-filters__row

      .photo-filters__cell
        .photo-filter.js-photo-filter{title: "Dot Screen", data: {effect: "dot_screen"}}
      .photo-filters__cell
        .photo-filter.js-photo-filter{title: "Vigenette", data: {effect: "vigenette"}}
      .photo-filters__cell
        .photo-filter.js-photo-filter{title: "Vibrance", data: {effect: "vibrance"}}