.image-grid,
.attach-list {
  display: block;

  .row {
    display: flex;
    margin: -.25rem;
  }

  .img {
    position: relative;
    flex: 1;
    margin: .25rem;
    margin-bottom: .5rem;
    border-radius: 4px;
    background-position: center;
    background-size: cover;

    &::before {
      display: block;
      margin-top: 63%;
      content: '';
    }
  }
}
