.light-gray {
  color: $light-gray-text-color;
}

.big {
  font-size: 118.1%;
  line-height: 1.2rem;
}

.align-center {
  text-align: center;
}

span.accent {
  color: $light-purple-color;
}

.text-box {
  padding: 1.6em 2.6rem 4rem;
  color: $light-gray-text-color;
}

.li {
  margin: 1em 0;
}
