[
    {sasl, [
        {errlog_type, error}
    ]},

    {lager, [
        {handlers, [
            {lager_console_backend, "${LOG_LEVEL}"}
        ]},
        {colored, false}
    ]},

    {pgapp, [
        {pools, [
            {mydreams, [
                {size, 10},
                {max_overflow, 20}
            ],
            [
                {host, "${MYDREAMS_DATABASE_HOST}"},
                {database, "${MYDREAMS_DATABASE_NAME}"},
                {username, "${MYDREAMS_DATABASE_USER}"},
                {password, "${MYDREAMS_DATABASE_PASSWORD}"}
            ]}
        ]}
    ]},

    {syn, [
        {group_process_exit_callback, [messenger_channels, on_process_exit_callback]}
    ]}
].
