[
    {sasl, [
        {errlog_type, error}
    ]},

    {lager, [
        {handlers, [{lager_console_backend, debug}]},
        {crash_log, false},
        {colored, true}
    ]},

    {pgapp, [
        {pools, [
            {mydreams, [
                {size, 10},
                {max_overflow, 20}
            ],
            [
                {host, "localhost"},
                {database, "mydreams_development"},
                {username, "postgres"},
                {password, ""}
            ]}
        ]}
    ]}
].
