- path = "search_admin_mailing_list_come_true_dreams_path"
= form_tag(send(path), method: :get, class: 'form-find-by-fields form-inline') do
  .form-gorup
    = text_field_tag :search, params[:search], placeholder: t('.placeholder'),
                                            size: 35, class: 'form-control'
    %button.btn.btn-primary{ type: 'submit' }= t('.find')
