.entity.btn-group-vertical
  = link_to 'Edit', edit_admin_tags_ad_link_path(ad_link.id), role: 'button',
  class: "btn btn-warning"
  = link_to 'Delete', admin_tags_ad_link_path(ad_link.id), method: :delete, role: 'button',
  class: "btn btn-danger"
