.jmod-overlay.jmod-overlay--visible
  .jmod-wrapper
    .jmod-scroller
      .jmod-window
        .jmod-content
          .video
            %iframe#video{ src: "https://www.youtube.com/embed/#{video_id(certificate_name)}?rel=0&amp;controls=0&amp;showinfo=0;autoplay=1", frameborder: 0, allowfullscreen: true }
        .jmod-close-button#disable-video
