.page-header
  %h1 Результаты поиска
= @results.inspect
%br/
%br/
%table.table.table-striped
  %thead
    %tr
      %th Content
      %th object id
      %th object type
  %tbody
    - @results.find_each do |result|
      %tr
        %td= result.content
        %td= result.searchable_id
        %td= result.searchable_type
