!!!
%html
  %head
    %meta{charset: 'utf-8'}
    %meta{name: 'robots', content: 'noindex, nofollow'}
    %title My Dreams

    %link{rel: 'stylesheet', media: 'screen', href: 'css/deploy.css'}

    // = render 'favicon'

    %body
      %main#deploy
        %h1 Уважаемые Мечтатели!
        %p Ведутся технические работы.
        %p Сайт будет доступен в ближайшее время.

        %img{src: 'images/smile.png'}
