{erl_opts, [
    debug_info,
    warnings_as_errors,
    {parse_transform, lager_transform}
]}.

{deps, [
    {jsx, "2.8.0"},
    {lager, "3.2.0"},
    {gproc, "0.5.0"},
    %% {cowboy, ".*", {git, "https://github.com/ninenines/cowboy.git", {ref, <<"dbb6360">>}}},
    {pgapp, {git, "https://github.com/epgsql/pgapp", {ref, <<"7183895">>}}},
    {bullet, {git, "https://github.com/ninenines/bullet.git", {ref, <<"a56f819">>}}},
    {mochiweb_xpath, {git, "https://github.com/seriyps/mochiweb_xpath.git", {ref, <<"ccea731">>}}},
    {eql, "0.1.2"},
    {jwt, "0.1.2"}
]}.

{eunit_compile_opts, [export_all]}.

{relx, [
    {release,
        {messenger, "0.0.1"},
        [messenger]
    },
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true},
    {sys_config, "config/sys.config"}
]}.
