//nib - http//nibstyl.us/docs http//tj.github.io/nib/
@import 'nib'


//nib resets - https//github.com/tj/nib/blob/master/lib/nib/reset.styl
global-reset()
reset-html5()

//todo use postcss-font-magician
@import 'fonts'

@import 'variables'
@import 'utills'

@import 'base'
@import 'layout'
@import 'theme'

//modules
@import 'modules/header/menu/first_menu/first_menu'
@import 'modules/header/menu/first_menu/userbar'
@import 'modules/header/menu/second_menu'
@import 'modules/header/wellcome'
@import 'modules/header/dreamers_circles'
@import 'modules/header/head_feed'
@import 'modules/footer'

//todo: compare news and cards...
@import 'modules/news'
@import 'modules/cards'
