base-font-size = 24px
base-font-family = Roboto

content-sides-padding = remify(50px)

head_feed_height = remify(78px)
logo-height = remify(106px)
logo-width = remify(94px)

card-border-radius = 4px
container-w = remify(940px)

userbar-border-radius = 5px

base-speed = 0.3s

//color = palette
white = #ffffff
black = #000000

//old = vars....
w = #ffffff
b = #000000
g-97 = #979797
d_bl = #46435A
violet = #9D63E3
violet_transparent = rgba(160,100,230,0.3)
vinous = #D535CE
inp_b = #C2C0D3
bronze = #AA8A8B
silver = #A9A9A9
gold = #D6BE66
platinum = #7F809C
vip = #783DBF
presidential = #275DA5
imperial = #310177
new_blue = #2d9bfc
new_pink = #aa0afe

card-green = #7cca36

//tooltip
tooltip-w = remify(120px)
