.modal
  
  &__title
    width 100%
    margin 20px auto 10px
    font-size 18px
    font-weight 300
    text-align center
    color black

  &__subtitle
    margin-bottom 10px
    font-size 10px
    font-weight 300
    letter-spacing 0.5px
    text-align center
    color black
    
.avatar:after
  content ''
  position absolute
  width 10px
  height 10px
  top 0px
  right 0
  background url(//d20pou9wppyzb1.cloudfront.net/assets/svg/proved-e34d1a786db8b1805e2f59590a3b34774f76b4cf53dd15922a06acff383add16.svg) no-repeat center