$border-gray-color: #ecf0f4;
$light-gray-text-color: #839098;
$gray-text-color: #4a4a4a;
$light-purple-color: #9d9dce;
$purple-color: #9e61f2;
$blue-color: #0c95ff;
$link-color: #0c95ff;
$yellow-color: #ffc845;
$green-color: #00c18c;
$pink-color: #ef2679;
$light-gray-color: #f2f5f7;
$red-color: #ff504f;
$light-red-color: #f16e6e;
$blue-magenta-gradient: linear-gradient(135deg, #009eff 0%, #e237fa 100%);
$transition-standard: all .3s ease-out;

$main-menu-height: 3.125rem;
