.dream_dreamer
  .left
    = render template: 'build_snapshot/dreamer', locals: { dreamer: dreamer }
  .right
    = render template: 'build_snapshot/dream', locals: { dream: dream, current_dreamer: current_dreamer }
