.block
  .header
    .title.content
      %h2 О Клубе
.block
  .content.big.align-center
    %h4 one
    %p
      Самые знаменитые и богатейшие люди Планеты объединились в клуб мечтателей
      %br
      с единственной целью:
      %br
      Исполнять Мечты и желания миллиардов людей по всей Земле.
      %br
      %br
    %h4 two
    %p
      Став членом клуба вы сможете быстро воплощать свои Мечты и желания в реальность.
      %br Чтобы Мечты сбывались, а желания исполнялись, ими необходимо делиться.
      %br
    %h4 three
    %p
      Dreambook - ваша персональная книга с Мечтами и желаниями,
      %br которую увидит весь Мир.
    %h3 Наступило время исполнять Мечты.
    %br
    %br
    %a.accent{ href: "#" } Пользовательское соглашение
