.block
  .header
    .title.content
      %h2 Уважаемый, Имя Фамилия!
.block.blocked-page
  .content.center
    %h3
      Ваш профиль был заблокирован
      %br
      за нарушение правил сайта.
      %br
      %br
    %hr
    %h4
      Если у Вас возникли проблемы, обратитесь в службу поддержки
      %br
      %a{ href: "mailto:support@mydreams.club" }support@mydreams.club
  .content
    %a.button.blue Выйти
