.block
  .header
    .title.content
      %h2 Уважаемый, Мечтатель!
.block.confirm-email-page
  .content.center
    %h3
      На Ваш адрес электронной почты было отправлено письмо с ссылкой для подтверждения. Если письмо не пришло, попробуйте отправить снова.
    %form
      %input{ type: "text", value: "myemail.mail.ru" }
      %button.accent.blue Отправить снова
    %hr
    %h4
      Если у Вас возникли проблемы, обратитесь в службу поддержки
      %br
      %a{ href: "mailto:support@mydreams.club" }support@mydreams.club
  .content
    %a.button.blue Выйти
