.block
  .header
    .title.content
      %h2 Уважаемый, Мечтатель!
.block.confirm-email-page
  .content.center
    %h3
      На Ваш адрес электронной почты было отправлено письмо с ссылкой для подтверждения. Если Вы не можете найти письмо, проверьте папку «спам»
      %br
      %br
    %hr
    %h4
      Если у Вас возникли проблемы, обратитесь в службу поддержки
      %br
      %a{ href: "mailto:support@mydreams.club" }support@mydreams.club
  .content
    %a.button.blue Выйти
