.col-center.content-body
  .header
    .image-box.size-l{ :style => "background-image: url(http://unsplash.it/578/211);" }
    .title
      %h2 События
  .feed-container





    .content-items
      .row
        .avatar-col
          %a.avatar.size-s{ href: "#" }
            %img{ src: "https://randomuser.me/api/portraits/men/" + Random.rand(50).to_s + ".jpg", alt: "" }
        .info-col
          .username-row
            %a{ href: "#" }
              Duane Allison
            %span.action-type
              .icon.action.like
              Понравилась Ваша Мечта
          .icon-text.time
            .icon.size-8.time
            .text 12 ноября
      .update-content.new-dream
        .dream
          .label.presidential PRESIDENTIAL
          %img{ src: "http://unsplash.it/500/500", alt: "" }
        .description
          %h3 Мечтаю об этом
          %p Мечтаю об этом, с таким очень длинным описанием Мечтаю об этом, с таким очень длинным описанием...Мечтаю об этом, с таким очень длинным описанием...


    .content-items
      .row
        .avatar-col
          %a.avatar.size-m{ href: "#" }
            %img{ src: "https://randomuser.me/api/portraits/men/" + Random.rand(50).to_s + ".jpg", alt: "" }
        .info-col
          .username-row
            %a{ href: "#" }
              User Name
            %span.action-type Хочет добавить Вас в друзья
          .icon-text.time
            .icon.size-8.time
            .text 12 ноября


    .content-items
      .row
        .avatar-col
          %a.avatar.size-m{ href: "#" }
            %img{ src: "https://randomuser.me/api/portraits/men/" + Random.rand(50).to_s + ".jpg", alt: "" }
        .info-col
          .username-row
            %a{ href: "#" }
              Duane Allison
            %span.action-type
              .icon.action.comment
              Прокомментировал Вашу Мечту
          .icon-text.time
            .icon.size-8.time
            .text 12 ноября
      .update-content.new-dream
        .dream
          .label.presidential PRESIDENTIAL
          %img{ src: "http://unsplash.it/500/500", alt: "" }
        .description
          %h3 Мечтаю об этом
          %p Мечтаю об этом, с таким очень длинным описанием Мечтаю об этом, с таким очень длинным описанием...Мечтаю об этом, с таким очень длинным описанием...


    .content-items
      .row
        .avatar-col
          %a.avatar.size-m{ href: "#" }
            %img{ src: "https://randomuser.me/api/portraits/men/" + Random.rand(50).to_s + ".jpg", alt: "" }
        .info-col
          .username-row
            %a.username{ href: "#" }
              Duane Allison
            %span.action-type
              Подарил Вам
              %strong VIP
              статус
          .icon-text.time
            .icon.size-8.time
            .text 13:00
      .update-content.get-subject
        .subject.vip.give
        .dreamers-list
          %a{ href: "#" }
            .avatar.size-l
              %img{ src: "https://randomuser.me/api/portraits/men/" + Random.rand(50).to_s + ".jpg", alt: "" }
            .username.vip Sylvia Keller



    .content-items
      .row
        .avatar-col
          %a.avatar.size-m{ href: "#" }
            %img{ src: "https://randomuser.me/api/portraits/men/" + Random.rand(50).to_s + ".jpg", alt: "" }
        .info-col
          .username-row
            %a{ href: "#" }
              Duane Allison
            %span.action-type Подарил Вам марку на Мечту
          .icon-text.time
            .icon.size-8.time
            .text 13:00
      .update-content.new-dream
        .dream-wrapper
          .dream
            .label.gold gold
            %img{ src: "http://unsplash.it/500/500", alt: "" }
        .description
          %h3 Мечтаю об этом
          %p Мечтаю об этом, с таким очень длинным описанием Мечтаю об этом...
          .mark-wrapper
            .mark.gold
            .icon-text
              .text 10
              .icon.amount.size-l


    .content-items
      .row
        .avatar-col
          %a.avatar.size-m{ href: "#" }
            %img{ src: "https://randomuser.me/api/portraits/men/" + Random.rand(50).to_s + ".jpg", alt: "" }
        .info-col
          .username-row
            %a{ href: "#" }
              User Name
            %span.action-type Удалился из друзей
          .icon-text.time
            .icon.size-8.time
            .text 12 ноября


    .content-items
      .row
        .avatar-col
          %a.avatar.size-m{ href: "#" }
            %img{ src: "https://randomuser.me/api/portraits/men/" + Random.rand(50).to_s + ".jpg", alt: "" }
        .info-col
          .username-row
            %a.username{ href: "#" }
              Duane Allison
            %span.action-type Подарил Вам монеты
          .icon-text.time
            .icon.size-8.time
            .text 13:00
      .update-content.get-subject
        .subject.money.give
        .dreamers-list
          %a{ href: "#" }
            .avatar.size-l
              %img{ src: "https://randomuser.me/api/portraits/men/" + Random.rand(50).to_s + ".jpg", alt: "" }
            .username.vip Sylvia Keller
