.col-center.content-body
  .header
    .image-box.size-l{ :style => "background-image: url(http://unsplash.it/578/211);" }
    .title
      %h2 Новости
  .feed-container
    .content-items.create-record
      .row
        .avatar-col
          = link_to account_dreamer_dreams_path(current_dreamer), class: "avatar size-m" do
            %img{ src: "https://randomuser.me/api/portraits/men/" + Random.rand(50).to_s + ".jpg", alt: "" }

        .textarea-col
          .textarea-wrapper
            %textarea{ placeholder: "Что нового?" }
      .actions
        %button.blue.accent Добавить запись
    .info Нет новостей

.col-right
  .col-js
    .top
      .wrapper
        .input.circle.icon-right
          %input{ placeholder: "Поиск", type: "text" }
          %span.icon.size-10.search-purple
      %ul.vertical-menu
        %li
          %a.active{ href: "/markup/news" } Лента новостей
        %li
          %a{ href: "/markup/update"} Обновления
        %li
          %a{ href: "/markup/recommendations" } Рекомендации
        %li
          %a{ href: "/markup/comments" } Комментарии


