.col-center.content-body
  .header
    .title
      %h2 Восстановление пароля
  .content.password-reset-page
    %h5
      Используйте адрес почты, введный
      %br
      при регистрации.
    %input{ type: "text", placeholder: "Введите Ваш E-mail" }
    %h5
      На него Вы получите письмо с ссылкой.
      %br
      Перейдите по ней, чтобы восстановить пароль
      %br
      и войти на сайт.
    %button.accent.blue Восстановить
.col-right
  .col-js

