.col-center.content-body
  .header
    .title
      %h2 Фотоальбом
  .photoalbum
    - (1..40).each do |i|
      .photo{ style: "background-image: url(http://unsplash.it/300/300?random=" + i.to_s + ")" }
.col-right
  .col-js
    .top
      .wrapper
        .photo-area Перетащите сюда ваши фотографии
        %br
        %br
        .button.purple.filearea
          Выбрать файлы
          %input{ type: "file" }
