.col-center.content-body
  .header
    .title
      %h2 Пополнить баланс
.col-right

.popup-container
  .popup.popup-marks.popup-label.yellow
    .close
    .header
      %h3 Запустить Мечту во Вселенную
    %h4
      Вы успешно приобрели Марку
      %br
      %b GOLD
      на Мечту!
    .dream
      .label.gold Gold
      %img{ src: "http://unsplash.it/300/300" }
      .mark.gold
    %button.yellow.accent Готово
