.col-center.content-body
  .header
    .title
      %h2 Crop
.col-right

.popup-container
  .popup.popup-crop
    .close
    %h3 Редактировать
    .crop-area.for-dream
      %img{ src: "http://unsplash.it/400/400", style: "top: 20px; left: 30px;" }
    .zoom-range
      .icon.little
      .control
        .range
          .btn{ style: "margin-left: 30%" }
      .icon.big
    %button.accent.blue Сохранить


