.col-center.content-body
  .header
    .title
      %h2 Пополнить баланс
.col-right

.popup-container
  .popup.popup-marks.popup-label.pink
    .close
    .header
      %h3 Подарить марку
    %h4
      Вы успешно приобрели Марку
      %br
      %b GOLD
      на Мечту!
    .row
      .user-col
        %a{ href: "#" }
          .avatar.size-l
            %img{ src: "https://randomuser.me/api/portraits/men/1.jpg" }
          %h3.username Adam Daniel
          .icon-text.info
            .icon.size-8.male
            25, Россия, Москва
      .item
        .dream
          .label.gold Gold
          %img{ src: "http://unsplash.it/300/300" }
          .mark.gold
    %button.pink.accent Готово
