.col-center.content-body
  .header
    .title
      %h2 Пополнить баланс
.col-right

.popup-container
  .popup.gift
    .close
    %h3.header Подарки
    #tabs
      .tabs
        .tab.active Подарить VIP статус
        .tab Подарить монеты
      .tab-body.visible
        %h4
          На Вашем счете
          %b 130
          монет
        .gift-to

          .gift-wrapper
            .gift.vip
            .title Стоимость:
            .price
              %span.number 130
              Монет
          .arrow
          %a.user{ href: "#" }
            .avatar.size-l
              %img{ src: "https://randomuser.me/api/portraits/men/27.jpg" }
            .username
              Adam Daniel
            .info.icon-text
              .icon.size-8.female
              25, Россия, Москва
        %textarea.normal{ placeholder: "Введите пожелание…", rows: "4" }
        %button.blue.accent Поделиться
