.col-center.content-body
  .header
    .title
      %h2 Crop
.col-right

.popup-container
  .popup.popup-crop
    .close
    %h3 Редактировать
    .crop-area.for-avatar
      %img{ src: "http://unsplash.it/500/500", style: "transform: scale(1.2)" }
    .zoom-range
      .icon.little
      .control
        .range
          .btn{ style: "margin-left: 30%" }
      .icon.big
    %button.accent.blue Сохранить


