.col-center.content-body
  .header
    .title
      %h2 Пополнить баланс
.col-right

.popup-container
  .popup.gift
    .close
    %h3.header Купить VIP статус
    #tabs
      .tab-body.visible
        .fail-wrapper
          %h4
            К сожалению, на Вашем счете
            %br
            недостаточно монет!
          %h3
            Требуется:
            %strong
              500
            монет

        %button.blue.accent Пополнить
