.col-center.content-body
  .header
    .title
      %h2 Пополнить баланс
.col-right

.popup-container
  .popup.gift
    .close
    %h3.header Купить VIP статус
    #tabs
      .tab-body.visible
        %h4 Вы успешно приобрели VIP статус!
        .user-wrapper
          %a.user{ href: "#" }
            .avatar-wrapper.success.vip
              .avatar.size-l
                %img{ src: "https://randomuser.me/api/portraits/men/27.jpg" }
            .username.vip
              Adam Daniel
            .info.icon-text
              .icon.size-8.female
              25, Россия, Москва
        %button.blue.accent Готово
