.col-center.content-body
  .header
    .title
      %h2 Пополнить баланс
.col-right

.popup-container
  .popup.gift
    .close
    %h3.header Купить VIP статус
    .tab-body.visible
      %h4
        На Вашем счете
        %b 130
        монет
      .gift-wrapper.big
        .gift.vip
        .title Стоимость:
        .price
          %span.number 130
          Монет
      %button.blue.accent Купить
