.col-center.content-body
  .header
    .title
      %h2 Пополнить баланс
.col-right

.popup-container
  .popup.popup-marks.popup-label.pink
    .close
    .header
      %h3 Подарить марку
      %h4 Выберите марку
    %h4
      На Вашем счете
      %b 130
      монет
    .mark-list
      .mark-wrapper
        .mark.bronze
        .icon-text
          .text 10
          .icon.amount.size-l
      .mark-wrapper
        .mark.silver
        .icon-text
          .text 10
          .icon.amount.size-l
      .mark-wrapper.active
        .mark.gold
        .icon-text
          .text 10
          .icon.amount.size-l
      .mark-wrapper
        .mark.platinum
        .icon-text
          .text 10
          .icon.amount.size-l
      .mark-wrapper
        .mark.vip
        .icon-text
          .text 10
          .icon.amount.size-l
      .mark-wrapper
        .mark.presidental
        .icon-text
          .text 10
          .icon.amount.size-l
      .mark-wrapper
        .mark.imperial
        .icon-text
          .text 10
          .icon.amount.size-l
    .textarea-wrapper
      %textarea.normal{ rows: "4", placeholder: "Введите пожелание…" }
      .number 70
    %button.pink.accent Подарить
    %h4.pay-info Данная опция является платной
