.col-center.content-body
  .header
    .title
      %h2 Пополнить баланс
.col-right

.popup-container
  .popup.popup-marks.popup-label.yellow
    .close
    .header
      %h3 Запустить Мечту во Вселенную
    .need-coin
      %h4
        К сожалению, на Вашем счете
        %br
        недостаточно монет!
      %h3
        Требуется:
        %strong 500
        монет
    %button.yellow.accent Готово
