.col-center.content-body
  .header
    .title
      %h2 Пополнить баланс
.col-right

.popup-container
  .popup.popup-marks.popup-label.yellow
    .close
    .header
      %h3 Запустить Мечту во Вселенную
      %h4 Выберите марку
    %h4
      На Вашем счете
      %b 130
      монет
    .mark-list
      .mark-wrapper
        .mark.bronze
        .icon-text
          .text 10
          .icon.amount.size-l
      .mark-wrapper
        .mark.silver
        .icon-text
          .text 10
          .icon.amount.size-l
      .mark-wrapper.active
        .mark.gold
        .icon-text
          .text 10
          .icon.amount.size-l
      .mark-wrapper
        .mark.platinum
        .icon-text
          .text 10
          .icon.amount.size-l
      .mark-wrapper
        .mark.vip
        .icon-text
          .text 10
          .icon.amount.size-l
      .mark-wrapper
        .mark.presidental
        .icon-text
          .text 10
          .icon.amount.size-l
      .mark-wrapper
        .mark.imperial
        .icon-text
          .text 10
          .icon.amount.size-l
    %button.yellow.accent Запустить Мечту
    %h4.pay-info Данная опция является платной
