.block
  .header
    .title.content
      %h2 Ваш профиль временно удален
.block.restore-profile-page
  .content
    .icon.x
    .row
      .col
        %h4
          Для восстановления профилья
          %br
          нажмите кнопку «Восстановить»
      .col
        %a.button.accent.blue Восстановить
    %hr
    %h5
      Если у Вас возникли проблемы, обратитесь в службу
      %br
      поддержки
      %br
      %a{ href: "mailto:support@mydreams.club" }support@mydreams.club
    %br
    %button.blue Выйти
