.col-center.content-body
  .header
    .title
      %h2 Подписчики
  %div
    .card-list-filters.filter
      %label
        .checkbox
          %input{ name: "sex", type: "checkbox" }
          %span
        %span Все
      %label
        .checkbox
          %input{ name: "sex", type: "checkbox" }
          %span
        %span Online
      %label
        .checkbox
          %input{ name: "sex", type: "checkbox" }
          %span
        %span VIP
    .card-list
      - (0..32).each do |dream|
        = render partial: 'card/dreamer'
    .preloader
.col-right
  .col-js
    .top
      %ul.vertical-menu
        %li
          %a.active.user-card
            .avatar.size-s
              %img{ alt: "avatar", src: "https://randomuser.me/api/portraits/men/17.jpg" }
            .description
              %strong Etta Pierce
              .icon-text.info
                .icon.size-8.female
                %span 23, Россия, Москва
      %ul.vertical-menu
        %li
          %a{ href: "/markup/balance" }
            Фотоальбом
            .count 23
      .wrapper
        .widget-photos
          - (1..6).each do |i|
            %a.img{ href: "#", style: "background-image: url(http://unsplash.it/100/100/?random=" + Random.rand(50).to_s + ")" }
        %ul.widget-stats
          %li{ title: "Мечты" }
            .icon.dreams
            .number 63
          %li{ title: "Сбывшиеся" }
            .icon.dreams-fulfilled
            .number 12
          %li{ title: "Запуски" }
            .icon.starts
            .number 112
          %li{ title: "Друзья" }
            .icon.friends
            .number 326
          %li.active{ title: "Подписчики" }
            .icon.followers
            .number 345


