.col-center.content-body
  .header
    .title
      %h2 Пользовательское соглашение
  .content.text-box
    .li
      1.
      ТЕРМИНЫ И ОПРЕДЕЛЕНИЯ
    .li
      1.1
      В настоящем Соглашении используются следующие термины и определения:
    .li
      %strong Клуб «Мои Мечты»
      или
      %strong Сайт
      – сайт в сети «Интернет», доступ к которому обеспечивается по доменному имени MyDreams.club, созданный с целью объединения во всем мире Мечтателей-единомышленников, обеспечив им беспрепятственное общение между собой и возможность исполнять мечты и желания друг друга. В целях настоящего Соглашения под Сайтом понимаются любые его версии, объединенные под доменным именем MyDreams.club и работающие для различных устройств, в том числе, web-версия Сайта и мобильные приложения.
    .li
      %strong Администрация Клуба
      или
      %strong Администрация
      – Общество с ограниченной ответственностью «Мои Мечты», юридическое лицо, созданное в соответствии с законодательством Российской Федерации и зарегистрированное по адресу 107140, г. Москва, 1-й Красносельский переулок д.,3 пом. I, комн. 75.
    .li
      %strong Мечтатель
      или
      %strong Пользователь
      – дееспособное физическое лицо, достигшее возраста, допустимого для присоединения к настоящему Соглашению по законодательству страны, гражданином которой оно является, присоединившееся к настоящему Соглашению в собственном интересе и получившее право пользоваться функционалом и сервисами Сайта, предоставляемыми Администрацией на условиях, определенных настоящим Соглашением.
    .li
      %strong Мечта
      – мечта, желание Пользователя, имеющее как овеществленное, материальное, так и неовеществленное выражение, фотоизображение и описание которой размещены Пользователем в его DREAMBOOK.
    .li
      %strong Дримбук (Dreambook)
      – персональная виртуальная книга Пользователя в виде набора страниц в сети «Интернет» на Сайте, доступная для ознакомления иным Пользователям или, в случае ее намеренной рассылки самим Пользователем, третьим лицам, не являющимся Пользователями Сайта. Мечтатель может добавлять в свой DREAMBOOK изображение и описание своей Мечты (их количество не ограничено) вести в DREAMBOOK личный Блог, а также пользоваться иными сервисами Сайта.
    .li
      %strong Блог
      – раздел DREAMBOOK Пользователя, представляющий собой его виртуальный дневник, в который Пользователь может добавлять личные записи, обмениваться комментариями с другими Пользователями, получившими от Пользователя соответствующий доступ.
    .li
      %strong Контент
      – содержимое, информационное наполнение Сайта, включая, но не ограничиваясь, информацией, содержащей объекты авторских и (или) смежных прав (в том числе фото- и видеоматериалы, текстовые сообщения, музыка, аудиовизуальные произведения, их совокупность или фрагменты, сообщения телепередач).
    .li
      %strong Марка
      – виртуальный объект, используемый для оплаты сервиса «Запуск Мечты». Пользователь имеет возможность приобретать Марки для себя или дарить их другим Пользователям. Имеется семь видов марок в зависимости от количества Запусков:
      %br/
      Bronze (1 запуск);
      %br/
      Silver (5 запусков);
      %br/
      Gold (10 запусков);
      %br/
      Platinum (50 запусков);
      %br/
      VIP (100 запусков);
      %br/
      Presidential (250 запусков);
      %br/
      Imperial (500 запусков).
    .li
      %strong Статус Мечты
      – сумма запусков Мечты по результатам активации приобретенных Пользователем и полученных от других Пользователей Марок. Статус мечты отображается на карточке Мечты и обновляется после активации Марки.
    .li
      %strong Реклама
      \- информация, распространенная любым способом, в любой форме и с использованием любых средств, адресованная неопределенному кругу лиц и направленная на привлечение внимания к объекту рекламирования, формирование или поддержание интереса к нему и его продвижение на рынке.
    .li
      %strong Таргетированная реклама
      – это текстовые, медийные или мультимедийные рекламные объявления, которые демонстрируются только тем Пользователям, которые удовлетворяют определенному набору требований, заданному рекламодателем.
    .li
      %strong ТОП-50
      мужских мечтаний – список из 50 самых популярных Мечтаний Пользователей-мужчин (а именно Мечтаний, набравших наибольшее количество оценок от других Пользователей).
    .li
      %strong ТОП-50
      женских мечтаний – список из 50 самых популярных Мечтаний Пользователей-женщин (а именно Мечтаний, набравших наибольшее количество оценок от других Пользователей).
    .li
      %strong ТОП 100
      – 100 самых популярных Мечтаний Пользователей Сайта во всем мире, сформированных Администрацией на основании независимых информационных ресурсов, рейтингов просмотра Мечтаний знаменитостей во всем мире и каких-либо иных критериев на усмотрение Администрации.
    .li
      %strong VIP-статус
      – платная услуга, позволяющая Пользователю: (i) получить оригинальный дизайн своего DREAMBOOK с отметкой «VIP-Пользователь», (ii) загружать любые фоны, отражающие его индивидуальность Пользователя. Пользователь может приобрести VIP-статус как для себя, так и в качестве подарка иным Пользователям.
    .li
      %strong Запуск Мечты
      \- платная услуга, состоящая в активации Пользователем Марки в отношении собственной Мечты или в отношении Мечты иного Пользователя в качестве подарка. Запуск Мечты увеличивает Статус Мечты на номинал Марки и сопровождается показом развлекательного видеоролика, содержание которого варьируется в зависимости от номинала Марки. Лицам, не зарегистрированным в качестве Пользователей, можно подарить Мечту, отправив соответствующее сообщение на электронную почту посредством специальной формы на Сайте, однако, для просмотра видеоролика такому лицу потребуется пройти регистрацию на Сайте, приняв условия настоящего Соглашения.
    .li
      %strong Соглашение
      – настоящее пользовательское соглашение, заключенное между Администрацией и Пользователем, которое содержит условия предоставления Пользователю доступа к функциональным возможностям и сервисам Сайта, а также права и обязанности Пользователя и Администрации. Действующея редакция Соглашения располагается на Сайте по адресу http://mydreams.club, при этом включает условия, размещенные на иных страницах Сайта, прямая ссылка на которые имеется в настоящем Соглашении. Регистрация Пользователя на Сайте означает полное и безоговорочное принятие Пользователем условий настоящего Соглашения.
    .li 1.2 В случае если в настоящем Соглашении используются термины, не указанные в данном разделе, то они понимаются и толкуются в соответствии с действующим законодательством Российской Федерации и обычаями делового оборота.
    .li
      2
      РЕГИСТРАЦИЯ НА САЙТЕ
    .li
      2.1
      Использование функциональных возможностей и сервисов Сайта допускается только после прохождения Пользователем регистрации и авторизации на Сайте в соответствии с установленной Администрацией процедурой и принятия условий настоящего Соглашения.
    .li
      2.2
      Регистрируясь на Сайте, Вы подтверждаете, что Вам больше 18 лет и что Вы имеете право заключить настоящее Соглашение.
    .li
      2.3
      Пользователь обязан полностью ознакомиться с Соглашением до регистрации на Сайте.
    .li
      2.4
      Для регистрации Пользователь должен заполнить регистрационную форму, предоставив достоверную и полную информацию о себе по вопросам, предлагаемым в регистрационной форме, и поддерживать эту информацию в актуальном состоянии.
    .li
      2.5
      Для регистрации обязательно подтверждение адреса электронного почтового ящика (e-mail), указанного Пользователем при заполнении регистрационной формы, которое осуществляется путем перехода по ссылке, отправленной Администрацией на e-mail Пользователя.
    .li
      2.6
      Указанные Вами при регистрации логин и пароль являются необходимой и достаточной информацией для последующего доступа на Сайт. Вы несете полную ответственность за их сохранность, самостоятельно выбирая способ их хранения. Администрация не несет ответственности за неправомерные действия, совершенные третьими лицами с использованием Ваших логина пароля.
    .li
      3
      УСЛОВИЯ ИСПОЛЬЗОВАНИЯ САЙТА
    .li
      3.1
      Регистрация Пользователя на Сайте и использование его основного функционала является бесплатной.
    .li
      3.2
      Основной функционал Сайта дает Вам возможность включая, но не ограничиваясь, добавлять в свой DREAMBOOK фотоматерилы, делиться своим DREAMBOOK в популярных социальных сетях, осуществлять рассылку DREAMBOOK по e-mail, просматривать DREAMBOOK других Пользователей, а также просматривать фото-и видеоматериалы о сбывшихся Мечтах других Пользователей, подписываться на DREAMBOOK интересующих их Пользователей с целью получения новостей и просмотра персональных событий, исполнять Мечты других Пользователей, обмениваться текстовыми сообщениями с другими Пользователями, вести Блог, участвовать в обсуждениях различных тем в персональных Блогах других Пользователей.
    .li
      3.3
      В случае если Мечта Пользователя исполнилась, Пользователь вправе в своем DREAMBOOK отметить Мечту как исполненную.
    .li
      3.4
      Сайт предоставляет также следующие платные, но необязательные сервисы:
    .li
      3.4.1
      VIP-статус;
    .li
      3.4.2
      Запуск Мечты.
    .li
      3.5
      Полную информацию о доступных платных сервисах и условиях оплаты можно найти по адресу http://mydreams.club.
    .li
      3.6
      После регистрации Пользователь получает право самостоятельно создавать, использовать и определять содержание собственного DREAMBOOK и условия доступа других Пользователей к его содержанию, а также получает возможности доступа и размещения информации в DREAMBOOK других Пользователей (при условии получения соответствующих прав доступа от их обладателей).
    .li
      3.7
      Пользователь имеет право самостоятельно удалить размещенную им ранее информацию на Сайте, а также полностью удалить свой DREAMBOOK в разделе «Настройки».
    .li
      3.8
      Пользователю предоставляется неограниченный срок для восстановления своей учетной записи. Для указанной цели Администрация оставляет за собой право хранить Контент, загруженный Пользователем, а также его персональные данные.
    .li
      3.9
      Пользователь несет полную ответственность за свои действия, связанные с публикацией в своем DREAMBOOK информации, в соответствии с действующим законодательством Российской Федерации, международными правовыми актами и настоящим Соглашением.
    .li
      3.10
      Администрация сохраняет за собой право в любое время изменять оформление Сайта, его интерфейс, содержание, функционал, доступные сервисы, изменять или дополнять используемые скрипты, программное обеспечение, а также любые серверные приложения в любое время с предварительным уведомлением или без такового.
    .li
      3.11
      Администрация имеет право уступить свои права в отношении Сайта третьим лицам.
    .li
      3.12
      Администрация Сайта занимается предварительной модерацией Контента, загружаемого Пользователями, лишь на предмет его соответствия условиям п. 4.2 настоящего Соглашения и имеет право по своему усмотрению отказать в публикации ненадлежащего Контента.
    .li
      3.13
      Администрация предпринимает действия по защите прав и интересов третьих лиц и обеспечению соблюдения требований законодательства Российской Федерации только после обращения заинтересованного лица к Администрации Сайта в установленном порядке.
    .li
      3.14
      Вы соглашаетесь с тем, что Администрация по своему усмотрению без предварительного уведомления может как временно, так и постоянно ограничить доступ к DREAMBOOK, заблокировать, ограничить или прекратить доступ Пользователя на Сайт, заблокировать определенный Контент или удалить учетную запись Пользователя без возможности восстановления.
    .li
      3.15
      Администрация не несет ответственности за возможный материальный ущерб или упущенную выгоду, причиненные Пользователю или третьим лицам в результате удаления учетной записи Пользователя и загруженного им на Сайт Контента.
      4
      ПРАВА И ОБЯЗАННОСТИ ПОЛЬЗОВАТЕЛЯ
    .li
      4.1
      Все загружаемые Вами на Сайт материалы должны соответствовать требованиям законодательства Российской Федерации, правилам, установленным в настоящем Соглашении, а также законодательству страны места жительства или пребывания Пользователя.
    .li
      4.2
      Принимая условия настоящего Соглашения, вы подтверждаете и гарантируете, что не будете размещать или передавать через Сайт заявления, материалы и сообщения, которые:
      %br/
      (i) содержат призывы к массовым беспорядкам, осуществлению экстремистской деятельности, участию в массовых (публичных) мероприятиях, проводимых с нарушением установленного порядка;
      %br/
      (ii)  содержат информацию о способах, методах разработки, изготовления и использования наркотических средств, психотропных веществ и их прекурсоров, местах приобретения таких средств, веществ и их прекурсоров, а также о способах и местах культивирования наркосодержащих растений;
      %br/
      (iii) содержат информацию о способах совершения самоубийства, а также призывов к совершению самоубийства;
      %br/
      (iv)  представляют собой материалы порнографического характера, а равно пропаганду порнографии, детской эротики, интимных услуг;
    .li
      4.3
      Вы обязуетесь перед размещением информации и материалов предварительно оценивать законность их размещения.
    .li
      4.4
      Вы несете личную ответственность за обеспечение соответствия своего DREAMBOOK и информации в нем всем применимым законам, и условиям настоящего Соглашения.
    .li
      5
      АВТОРСКИЕ ПРАВА, ПРАВА НА ТОВАРНЫЕ ЗНАКИ И ДРУГИЕ ОБЪЕКТЫ ИНТЕЛЛЕКТУАЛЬНОЙ СОБСТВЕННОСТИ
    .li
      5.1
      Вы гарантируете, что являетесь правообладателем исключительных прав на загружаемый Вами на Сайт Контент, либо получили необходимые разрешения от правообладателей. При использовании Сайта Вы обязуетесь не нарушать права третьих лиц на объекты интеллектуальной собственности.
    .li
      5.2
      Вы соглашаетесь с тем, что, размещая любой Контент на Сайте, Вы даете Администрации согласие на использования такого Контента на территории всех стран мира способами, необходимыми для функционирования и развития Сайта, в том числе на воспроизведение, публичный показ, переработку, включая перевод на иностранные языки, и доведение до всеобщего сведения.
    .li
      5.3
      Контент может быть использован в любых промо- и маркетинговых материалах Администрации, включая, но не ограничиваясь, в информационных рассылках на Сайте, листовках и презентациях.
    .li
      5.4
      Администрация не осуществляет предварительную проверку Контента, размещенного Пользователями Сайта, однако, будет вынуждена заблокировать его в случае его несоответствия требованиям российского законодательства и в случае получения соответствующего распоряжения от органов государственной власти.
    .li
      5.5
      В случае предъявления к Администрации претензий от третьих лиц, связанных с нарушением действующего законодательства РФ, в том числе, законодательства об интеллектуальной собственности, Вы обязуетесь самостоятельно и за свой счет урегулировать все возникшие претензии.
    .li
      5.6
      Присоединяясь к настоящему Соглашению, Пользователь ни при каких обстоятельствах не получает права использования товарных знаков, коммерческих обозначений, доменных имен, баз данных, ноу-хау, дизайна и оформления Сайта и иных отличительных знаков Сайта. Право на использование таких объектов может быть предоставлено исключительно по письменному соглашению с Администрацией Сайта.
    .li
      6
      УСЛОВИЯ ИСПОЛЬЗОВАНИЯ ПЕРСОНАЛЬНЫХ ДАННЫХ
    .li
      6.1
      Присоединяясь к условиям настоящего Соглашения, Вы соглашаетесь на автоматизированную обработку Ваших персональных данных в целях исполнения настоящего Соглашения. Обработка Ваших персональных данных осуществляется в соответствии с законодательством Российской Федерации.
    .li
      6.2
      Администрация Сайта обрабатывает Ваши персональные данные в целях предоставления Вам доступа к использованию функционала Сайта, в том числе в целях получения Таргетированной рекламы, в целях определения потенциально интересных для Вас функций Сайта, а также предложения Вам использовать эти функции.
    .li
      6.3
      Администрация Сайта принимает все необходимые меры для защиты Ваших персональных данных от неправомерного доступа, изменения, раскрытия или уничтожения. Администрация предоставляет доступ к Вашим персональным данным только тем работникам, подрядчикам и агентам Администрации, которым эта информация необходима для обеспечения функционирования Сайта и предоставления Вам доступа к его использованию.
    .li
      6.4
      Раскрытие предоставленной Пользователем информации может быть произведено лишь в соответствии с действующим законодательством Российской Федерации по требованию суда, правоохранительных органов, а равно в иных предусмотренных законодательством Российской Федерации случаях.
    .li
      6.5
      В случаях, допускаемых функциональными возможностями Сервиса, Вы самостоятельно определяете степень доступности своих персональных данных иным Пользователям Сайта.
    .li
      6.6
      Обработка персональных данных Пользователя осуществляется в течение всего периода времени с момента регистрации на Сайте и до момента ее прекращения.
    .li
      7
      РЕКЛАМА
    .li
      7.1
      Администрация оставляет за собой право на размещение рекламы на страницах Сайта, и, в частности, в DREAMBOOK Пользователей.
    .li
      7.2
      Вы обязуетесь не использовать какие-либо компьютерные программы, которые блокируют, либо иным образом препятствуют отображению Таргетированной рекламы.
    .li
      7.3
      Для отслеживания Ваших интересов и показа соответствующей таким интересам рекламы на Вашем компьютере могут размещаться cookie- файлы, чтобы идентифицировать этот компьютер каждый раз во время показа ему Таргетированной рекламы.
    .li
      7.4
      На Сайте запрещается реклама товаров, производство и (или) реализация которых запрещены законодательством Российской Федерации, включая, но не ограничиваясь:
      %br
      (i) наркотических средств и психотропных веществ;
      %br
      (ii)  взрывчатых веществ и материалов, за исключением пиротехнических изделий;
      %br
      (iii) табака, табачной продукции, табачных изделий и курительных принадлежностей, в том числе трубок, кальянов, сигаретной бумаги, зажигалок, электронных сигарет;
      %br
      (iv)  алкогольной продукции, в том числе пива;
      %br
      (v) медицинских услуг по искусственному прерыванию беременности.
      %br
      (vi)  услуг по сбору персональных данных и/или контактной информации (в т.ч. номера телефонов, адреса электронной почты), без пояснения цели и/или согласия на обработку персональных данных.
      %br
      (vii) услуг по взлому страниц, а также искусственному повышению счётчиков «Статуса Мечты» с использованием любых программ, автоматизированных скриптов либо иных действий;
      %br
      (viii)  товаров и услуг для взрослых интимного характера;
      %br
      (ix)  продукции военного назначения и оружия;
      %br
      (x) игр, основанных на риске и пари, в т.ч. азартных игр;
      %br
      (xi)  сайтов, на которых размещается реклама, не соответствующая п. 2.4 настоящего Соглашения.
    .li
      7.5
      Администрация не несет ответственности за размещение другими Пользователями Ненадлежащей рекламы, а также за соответствие ее содержания действительности.
    .li
      8
      ОГРАНИЧЕНИЕ ОТВЕТСТВЕННОСТИ АДМИНИСТРАЦИИ САЙТА
    .li
      8.1
      Администрация предоставляет Пользователям возможность использовать Сайт и его функционал, включая весь Контент и оформление сайта, «как есть».
    .li
      8.2
      Администрация не гарантирует, что работа Сайта будет непрерывной и безошибочной, а качество какого-либо продукта, услуги, информации и пользовательских материалов, полученных в результате использования Сайта, будет соответствовать Вашим ожиданиям.
    .li
      8.3
      В соответствии с вышесказанным, Администрация не несет ответственности за убытки и ущерб любого рода, связанные с такими ошибками.
    .li
      8.4
      АДМИНИСТРАЦИЯ НЕ МОЖЕТ ГАРАНТИРОВАТЬ И НЕ ОБЕЩАЕТ КАКОЙ-ЛИБО ВЫГОДЫ ОТ ИСПОЛЬЗОВАНИЯ САЙТА И/ИЛИ ЕГО ФУНКЦИОНАЛА. ВЫ СОГЛАШАЕТЕСЬ С ТЕМ, ЧТО ПОЛЬЗОВАТЕЛИ МОГУТ ПО СВОЕМУ ЖЕЛАНИЮ СДЕЛАТЬ ВАМ ПОДАРОК, ИСПОЛНИВ ЛЮБУЮ ВАШУ МЕЧТУ. АДМИНИСТРАЦИЯ ОСТАВЛЯЕТ ЗА СОБОЙ ПРАВО ВРЕМЯ ОТ ВРЕМЕНИ И ПО СВОЕМУ УСМОТРЕНИЮ ИСПОЛНЯТЬ МЕЧТЫ ПОЛЬЗОВАТЕЛЕЙ, ОДНАКО, ИСПОЛЬЗОВАНИЕ САЙТА НИ ПРИ КАКИХ ОБСТОЯТЕЛЬСТВАХ НЕ ГАРАНТИРУЕТ ВАМ ИСПОЛНЕНИЯ ВАШЕЙ МЕЧТЫ.
    .li
      8.5
      Используя Сайт, Вы соглашаетесь с тем, что мнения, высказанные в DREAMBOOK Пользователей – это мнения их авторов, но не Администрации Сайта, если последняя не заявляет об обратном. Администрация не несет ответственности за любые комментарии, точки зрения или замечания, в том числе порочащие Вашу честь, достоинство или деловую репутацию, выраженные иными Пользователями.
    .li
      8.6
      Администрации Сайта не может гарантировать точности, достоверности и надежности информации и материалов, размещенных иными Пользователями, а также безопасность Контента, и не несет ответственности за любые убытки или ущерб, наступившие в результате использования таких материалов или в результате перехода по ссылкам иных Пользователей.
    .li
      8.7
      Всю ответственность за содержание материалов и соответствие его требованиям применимого права несет лицо, создавшее данные материалы и/или добавившее его на Сайт.
    .li
      8.8
      Используя Сайт и его услуги, Вы соглашаетесь с этим и принимаете описанные выше риски.
    .li
      9
      УВЕДОМЛЕНИЯ
    .li
      9.1
      Вы соглашаетесь получать от Администрации на указанный в вашем DREAMBOOK на Сайте электронный адрес информационные электронные сообщения о важных событиях, происходящих в рамках Сайта или в связи с ним, в том числе для информирования о возможностях Сайта и/или об изменении условий настоящего Соглашения.
    .li
      10
      ИЗМЕНЕНИЯ
    .li
      10.1
      Администрация оставляет за собой право в любое время в одностороннем порядке и без какого-либо специального уведомления внести изменения в настоящее Соглашение.
    .li
      10.2
      Вы соглашаетесь, что к Вам применимы все изменения Соглашения с момента их публикации на Сайте или с более поздней даты, которая может быть указана в Соглашении.
    .li
      11
      ПРИМЕНИМОЕ ПРАВО И ПОДСУДНОСТЬ
    .li
      11.1
      Настоящее Соглашение, порядок его заключения и исполнения, а также вопросы, не урегулированные настоящим Соглашением, регулируется действующим законодательством Российской Федерации. Исключения составляют случаи, когда в конкретных положениях данного Соглашения прямо установлено иное применимое право.
    .li
      11.2
      В случае возникновения любых споров или разногласий, связанных с использованием Сайта, Пользователь и Администрация Сайта приложат все усилия для их разрешения путем проведения переговоров между ними.
    .li
      11.3
      В случае, если споры в связи с настоящим Соглашением не будут разрешены путем переговоров, они подлежат рассмотрению в суде по месту нахождения Администрации в соответствии с действующим законодательством Российской Федерации.
    .li
      12
      ПРОЧИЕ ПОЛОЖЕНИЯ
    .li
      12.1
      Настоящее Соглашение может быть немедленно расторгнуто любой стороной по ее усмотрению.
    .li
      12.2
      Настоящее Соглашение составлено на русском языке, но может быть предоставлено Пользователям для ознакомления на иностранных языках. В случае расхождения русскоязычной версии Соглашения и версии на иностранном языке, применяются положения русскоязычной версии Соглашения.
    .li
      12.3
      Если по тем или иным причинам одно или несколько положений настоящего Соглашения будут признаны недействительными или не имеющими юридической силы, это не оказывает влияния на действительность и/или применимость остальных положений.
    .li
      12.4
      Настоящие правила распространяются на мобильные приложения «Мои Мечты».
    Редакция от 22 декабря 2015 г.

.col-right
  .col-js
    .top
      %ul.vertical-menu
        %li
          %a.active{ href: "#" } 1. Термины и определения
          %a{ href: "#" } 2. Регистрация на сайте
          %a{ href: "#" } 3. Условия использования
          %a{ href: "#" } 4. Права и обязанности
          %a{ href: "#" } 5. Авторские права
          %a{ href: "#" } 6. Персональные данные
          %a{ href: "#" } 7.  Реклама
          %a{ href: "#" } 8.  Ответственность
          %a{ href: "#" } 9.  Уведомления
          %a{ href: "#" } 10.  Изменения
          %a{ href: "#" } 11.  Применимое право
          %a{ href: "#" } 12.  Прочие положения


