%h4 Войти
%form
  .input.minimal.input-icon
    %input{type: "text", placeholder: "E-mail"}
    %span.icon.size-16.email
    .focus-line
  .input.minimal.input-icon
    %input{type: "password", placeholder: "Пароль"}
    %span.icon.size-16.password
    .focus-line
  %input.wide.purple.h-margin{value: "Войти", type: "submit"}
%h5 Войти с помощью соц. сетей
.social-buttons.size-l
  %a.button.purple.vk{href: "#"}
  %a.button.purple.fb{href: "#"}
  %a.button.purple.in{href: "#"}
  %a.button.purple.tw{href: "#"}
  %a.button.purple.ok{href: "#"}
%hr
%input.purple{value: "Регистрация", type: "submit"}
