{erl_opts, [
    debug_info,
    warnings_as_errors,
    {parse_transform, lager_transform}
]}.

{deps, [
    {jsx, "2.8.0"},
    {lager, "3.0.2"},
    %% {syn, {git, "https://github.com/ostinelli/syn.git", {tag, "1.2.1"}}},
    {syn, {git, "https://github.com/tank-bohr/syn.git", {branch, "master"}}},
    %% {cowboy, {git, "https://github.com/ninenines/cowboy.git", {ref, <<"dbb6360">>}}},
    {bullet, {git, "https://github.com/ninenines/bullet.git", {ref, <<"a56f819">>}}},
    {beruang, {git, "https://github.com/SputnikTeam/beruang.git"}, {branch, master}},
    {pgapp, {git, "https://github.com/epgsql/pgapp", {ref, <<"7183895">>}}},
    {eql, "0.1.2"},
    {jwt, "0.1.1"}
]}.

{relx, [
  {release,
    {mydreams, "0.0.1"},
    [messenger]
  },
  {dev_mode, false},
  {include_erts, false},
  {system_libs, false},
  {extended_start_script, true}
]}.

{profiles, [
  {staging, [
    {relx, [
      {dev_mode, false},
      {include_erts, "/usr/lib/erlang"},
      {system_libs, "/usr/lib/erlang"},
      {sys_config, "config/staging.config"}
    ]}
  ]}
]}.
