.confirm-email-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  text-align: center;

  .content {
    width: 32rem;
  }

  .center {
    margin: auto;
  }

  .button {
    width: 9rem;
    margin: 0 auto 3rem;
  }

  h4,
  hr {
    width: 21rem;
    margin-right: auto;
    margin-left: auto;
  }

  form {
    margin: 1.5rem 0 3rem;
  }

  input[type='text'] {
    display: block;
    margin: 0 auto 1rem;
    width: 18.75rem;
  }
}
