.error-page {
  text-align: center;

  .gear,
  .error404 {
    width: 7.25rem;
    height: 7.25rem;
    margin: 2.4375rem auto 2.75rem;
    border-radius: 100%;
    background-color: $light-gray-color;
    background-image: asset-url('new/gear.svg');
    background-size: 65%;
  }

  .error404 {
    background-image: asset-url('new/error_404.svg');
    background-size: 50%;
  }
}

.engineering-works {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $blue-magenta-gradient;

  .gear {
    margin: 0 auto .8rem;
    background-color: transparent;
  }

  h2,
  h3 {
    color: #fff;
    font-weight: normal;
  }
}
