.col-center.content-body
  .header
    .title
      %h2 Редактировать профиль
  #user-settings-profile
    .preloader

.col-right
  .col-js
    = render 'settings/right_menu'

- content_for :js do
  :javascript
    onReady(function() {
      MyDreams.UserSettings.init('#user-settings-profile', {
        type: 'profile'
      });
    });