= form_for photo, url: {action: "upload"} do |f|
  .uploader
    .pickfiles.button-bv-animated#js-photo-loader
      %span Добавить фотографии
    .filelist.filelist-photos.js-filelist
    .uploadfiles.button-bv-animated.js-uploadfiles#js-photo-loader-btn
      %span= t('actions.save')

