!!!
%html{ xmlns: "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ content: "text/html; charset=utf-8", "http-equiv" => "Content-Type" }/
    %meta{ content: "IE=edge", "http-equiv" => "X-UA-Compatible" }/
    %meta{ content: "width=device-width, initial-scale=1.0", name: "viewport" }/
    %title My Dreams
  %body{ style: "margin:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;min-width:100%;background-color:#e8ebed;" }
    %center.wrapper1{ style: "width:100%;table-layout:fixed;background-color:#8381ff;background-image:url('http://d20pou9wppyzb1.cloudfront.net/emails/v1/summer_bg.jpg');background-position:top center;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%; background-repeat: no-repeat; background-color: #aaddf1;" }
      .webkit{ style: "margin: 0 auto; max-width:600px;" }
        %table.outer{ align: "center", style: "background-color:transparent;border-spacing:0;font-family:Verdana, Arial, sans-serif;color:#adadad;font-weight:100;line-height:150%;text-align:center;Margin:0 auto;width:100%;max-width:600px;" }
          %tr
            %td{ style: "text-align:center;padding-top:45px !important;padding-bottom:0;padding-right:0;padding-left:0;color:white;" }
              = link_to root_url, { style: "color:#ee6a56;text-decoration: none;", target: "_blank" } do
                %img{ alt: "My Dreams", src: "http://d20pou9wppyzb1.cloudfront.net/emails/v1/logo.png", style: "border-width:0;line-height:0;display:inline-block;width:94px;height:auto;" }/
              %br/
              %br/
        %table.outer{ align: "center", style: "border-radius:10px 10px 0 0;border-spacing:0;font-family:Verdana, Arial, sans-serif;color:#adadad;background-color:#ffffff;font-weight:100;line-height:150%;text-align:center;Margin:0 auto;width:100%;max-width:600px;" }
          %tr{ style: "border-radius:10px 10px 0 0;" }
            %td{ style: "border-radius:10px 10px 0 0; background-color: #796eff; height: 8px; background-image:url('http://d20pou9wppyzb1.cloudfront.net/emails/v1/header_line.jpg'); background-size: 100% auto;" }
          %tr
            %td{ style: "padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" }
              %table{ style: "border-radius:10px 10px 0 0;border-spacing:0;font-family:Verdana, Arial, sans-serif;color:#adadad;background-color:#ffffff;font-weight:100;line-height:150%;text-align:center;", width: "100%" }
                %tr{ style: "border-radius:10px 10px 0 0;" }
                  %td.inner.toppad{ style: "border-radius:10px 10px 0 0;padding-bottom:0;padding-right:10%;padding-left:10%;padding-top:40px !important;" }
                    %p.h2{ style: "Margin:0;font-size:30px;line-height:150%;font-weight:normal;margin-bottom:10px;color:#4a4a4a;" }
                      ЛЕТО В MYDREAMS!
    %center.wrapper2{ style: "width:100%;table-layout:fixed;background-color:#e8ebed;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;" }
      .webkit{ style: "margin: 0 auto; max-width:600px;" }
        %table.outer.border2{ :align => "center", style: "border-radius:0 0 10px 10px;border-spacing:0;font-family:Verdana, Arial, sans-serif;color:#adadad;background-color:#ffffff;font-weight:100;line-height:150%;text-align:center;Margin:0 auto;width:100%;max-width:600px; font-size: 14px;" }
          %tr{ style: "border-radius:0 0 10px 10px;" }
            %td.one-column{ style: "border-radius:0 0 10px 10px;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" }
              %table{ style: "border-radius:0 0 10px 10px;border-spacing:0;font-family:Verdana, Arial, sans-serif;color:#adadad;background-color:#ffffff;font-weight:100;line-height:150%;text-align:center;", :width => "100%" }
                %tr
                  %td.inner{ style: "border-radius:0 0 10px 10px;text-align:center;padding-top:0;padding-bottom:0;padding-right:10%;padding-left:10%;" }
                    %p{ style: "margin:0;font-size:18px;color:#7c888d" }
                      %hr{ style: "border: none; border-bottom:1px solid #e7eaea; margin-bottom: 18px;" }
                      %span{ style: "display: block; margin-bottom: 35px" }
                        Срок проведения акции до
                        %span{ style: "text-decoration: none; color: #4a90e2;" }
                          01.09.2016
                    %p{ style: "font-size: 12px; line-height: 1.2em; margin: 0 10%" }
                      Разместите в своих социальных сетях
                      %br
                      (Facebook, ВКонтакте, Instagram, Одноклассники)
                      %br
                      свое фото:
                      %br
                      %div{ style: "margin: 12px 0" }
                        .circle{ style: "display: inline-block; height: 7px; width: 7px; border-radius: 100%; background: #0c95ff; margin-right: .4em" }
                        в футболке/майке/любой одежде
                      %div{ style: "margin: 12px 0" }
                        .circle{ style: "display: inline-block; height: 7px; width: 7px; border-radius: 100%; background: #0c95ff; margin-right: .4em" }
                        или с чехлом для смартфона,
                      на которых будет изображен логотип и надпись
                      %br
                      MyDreamsClub.

                    %p{ style: "font-size: 14px; font-weight: bold; color: #7c888d; line-height: 1.2em; margin: 0 10%" }
                      И получите за это Марку Gold, на любую
                      %br
                      Вашу Мечту!
                    %hr{ style: "border: none; border-bottom:1px solid #e7eaea; margin: 30px 0;" }
                    %p{ style: "font-size: 12px; line-height: 1.2em; margin: 0 10%" }
                      Скачать логотип и надпись, Вы сможете по ссылке:
                      %a{ style: "color: #0c95ff; text-decoration: none; display: block; margin: 20px 0;", href: "http://mydreams.club/press/logo.png" }
                        http://mydreams.club/press/logo.png
                    %hr{ style: "border: none; border-bottom:1px solid #e7eaea; margin: 30px 0;" }
                      %p
                        Или же напишите нам на почту
                        %br
                        social@mydreams.club
                        %br
                        письмо с темой
                        %br
                        «logomydreams».

                %tr
                  %td{ style:"background-color: #f4f7fa; padding: 25px 15%;" }
                    %p{ style: "font-size: 12px; line-height: 1.2em; margin-bottom:0;" } Дополнительную информацию Вы можете получить по ссылке ниже:
                    = link_to "Узнать больше", account_dreamer_post_url(1, 1420, locale: :ru), target: "_blank", style: "padding:9px 20px; margin: 1em 0; display: inline-block; font-size: 19px; text-decoration: none; color: white; background-color: #4a90e2; border-radius: 4px;"
                %tr{ style: "border-radius:0 0 10px 10px;" }
                  %td.inner{ style: "border-radius:0 0 10px 10px;text-align:center;padding-top:0;padding-bottom:0;background: #4a90e2;" }
                    %div{ style: "margin: 15px auto 9px; white-space: nowrap;" }
                      %a{ target: "_blank", href: "https://vk.com/mydreams.club", title: "vkontakte", style: "text-decoration:none; margin: 0 2%" }
                        %img{ src: "http://d20pou9wppyzb1.cloudfront.net/emails/v1/social/vk_white.png", alt: "", width: "30" }
                      %a{ target: "_blank", href: "https://www.facebook.com/dreamshysteria/", title: "facebook", style: "text-decoration:none; margin: 0 2%" }
                        %img{ src: "http://d20pou9wppyzb1.cloudfront.net/emails/v1/social/fb_white.png", alt: "", width: "30" }
                      %a{ target: "_blank", href: "https://www.instagram.com/mydreams.club/", title: "instagram", style: "text-decoration:none; margin: 0 2%" }
                        %img{ src: "http://d20pou9wppyzb1.cloudfront.net/emails/v1/social/ig_white.png", alt: "", width: "30" }
                      %a{ target: "_blank", href: "https://twitter.com/mydreams_club", title: "twitter", style: "text-decoration:none; margin: 0 2%" }
                        %img{ src: "http://d20pou9wppyzb1.cloudfront.net/emails/v1/social/tw_white.png", alt: "", width: "30" }
                      %a{ target: "_blank", href: "http://ok.ru/group/52868376756319", title: "Одноклассники", style: "text-decoration:none; margin: 0 2%" }
                        %img{ src: "http://d20pou9wppyzb1.cloudfront.net/emails/v1/social/ok_white.png", alt: "", width: "30" }
        %table.outer{ align: "center", style: "background-color:transparent;border-spacing:0;font-family:Verdana, Arial, sans-serif;color:#adadad;font-weight:100;line-height:150%;text-align:center;Margin:0 auto;width:100%;max-width:600px;" }
          %tr
            %td.one-column.toppad{ style: "padding:30px !important; padding-right:0;padding-left:0;" }
              %p{ style: "font-size:13px;color:#a7afb3;margin:0;" }
                = I18n.t('.email.company_information')
                %br/
                = link_to 'mydreams.club', root_url, { style: "color:#a7afb3;font-size:13px;text-decoration:underline;", target: "_blank" }
