ЛЕТО В MYDREAMS!

= '-' * 80

Срок проведения акции до 01.09.2016

= '-' * 80

Разместите в своих социальных сетях (Facebook, ВКонтакте, Instagram, Одноклассники) свое фото:
в футболке/ майке/ любой одежде или с чехлом для смартфона,
на которых будет изображен логотип и надпись «MyDreamsClub».
И получите за это Марку Gold, на любую Вашу Мечту!

Скачать логотип и надпись, Вы сможете по ссылке:

http://mydreams.club/press/logo.png

Или же напишите нам на почту
social@mydreams.club письмо с темой «logomydreams».

= '-' * 80
= I18n.t('.email.company_information')
MyDreams.club
